<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Profile | Traveling Table</title>

<link rel="shortcut icon" href="/graphics/favicon.ico" type="image/x-icon">
<link rel="icon" href="/graphics/favicon.ico" type="image/x-icon">
<script>
function randomPic() {
    var x = Math.floor((Math.random() * 6) + 1);
	document.write('<img src="/graphics/'+x.toString()+'.png" class="avatar" style="width:20vw;height:auto;" /> ');
}
</script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $.ajax({
        type: 'POST',
        url: "/getRestrictions",
        context: document.body,
        success: function(data){
                var veg = data.vegetarian
                var vegan = data.vegan
                var allergies = data.allergies
                var glut = data.gluten_free

                if (veg===true) {
                  $("#c1").html('<label><input type="checkbox" name="vegetarian" id="vegetarian" value="" checked>Vegetarian</label>')
                };
                if (vegan===true) {
                  $("#c2").html('<label><input type="checkbox" name="vegan" id="vegan" value="" checked>Vegan</label>')
                };
                if (allergies===true) {
                  $("#c4").html('<label><input type="checkbox" name="allergies" id="allergies" value="" checked>No peanuts/soy</label>')
                }
                if (glut===true) {
                  $("#c3").html('<label><input type="checkbox" name="gluten-free" id="gluten-free" value="" checked>Gluten-Free</label>')
                };



            }});
    });
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">



<script src="https://maps.googleapis.com/maps/api/js"></script>
<link href='https://fonts.googleapis.com/css?family=News+Cycle|Raleway:400,300,100' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/javascripts/profile_map_scripts.js"></script>
<script src="/javascripts/validation.js"></script>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css"/>

</head>

<body>



<div id="profile">
            <div id="profcontents">

            <h2 style="text-align:center">Welcome, <%= username %></h2>

            <script type="text/javascript">randomPic();</script></br>
            <h4 style="text-align:center"><%= haverecipes %></h4><br>
            <div class="recipes"><ul>
              <!--": "+ recipetitle[i][0] + is the value of the dish type-->
            <% for(var i=0; i<recipetitle.length; i++) {%>
               <!--<li><%= "<div id="+recipetitle[i][2]+">"+recipetitle[i][1]+ "</div>" %></li>-->
               <li><a onclick="profileresult();" id="<%=recipetitle[i][2]%>"><%=recipetitle[i][1]%></a></li>
            <% } %>
            </ul></div>


            </br>
            </br>
            </br>
            </br>
            <p>Edit your dietary restriction:</p>
                      <div class="checkbox" id="c1">
                        <label><input type="checkbox" name="vegetarian" id="vegetarian" value="">Vegetarian</label>
                      </div>
                      <div class="checkbox" id="c2">
                        <label><input type="checkbox" name="vegan" id="vegan" value="">Vegan</label>
                      </div>
                      <div class="checkbox" id="c3">
                        <label><input type="checkbox" name="gluten-free" id="gluten-free" value="">Gluten-Free</label>
                      </div>
                      <div class="checkbox" id="c4">
                        <label><input type="checkbox" name="allergies" id="allergies" value="">No peanuts/soy</label>
                      </div>
                      <div id="submitted" hidden>Preferences submitted! We'll update those for you when you search.</div></br>
                      <input type="submit" name="submit" class="dietprefbutton btn-large" id="submit_btn" value="Submit changes" />
            </div>
</div>

<div id="display">
            <h3><div class="recipetitle">[your recipe contents display here]</div></h3>
            <div class="recipeimage"></div>
            <div class="viewsvotes">Click on a recipe or marker to see what you've been bringing to the table.</div>
            <div class="est_time"></div>
            <div class="recipetype"></div><br>
            <div class="ingredients"></div>
            <div class="instructions"></div>
            <div class="extra_info"></div>
            <!--div class="vegcheck"></div>
            <div class="vegancheck"></div>
            <div class="gfcheck"><br></div>
            <div class="allergiescheck"></div><br-->
            
  </div>



<div id="back"><a href="/">take me back!</a></div>
<div id="map"> </div>


<!--script type="text/javascript">
jQuery(".informatiemelding").setTimeout(function () {
   $(this).fadeOut('slow');
});
</script-->


</body>
</html>
